.enrollButtonDiv {
  display: flex;
  /* align-items: end; */
  justify-content: end;
  position: sticky;
  top: 0;
  background-color: #d9d9d9;
}

.enrollButton {
  border: none;
  padding: 0.5rem 3rem;
  background-color: #d9d9d9;
  margin: 1rem 3rem;

  right: 0;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
  cursor: pointer;
  font-weight: 800;
  color: rgb(0, 0, 249);
}
.enrollButton:hover {
  color: black;
}

.enrollButtonDiv p,
.enrollButton {
  font-size: 1.2rem;
  margin-left: 0;
  padding-top: 1rem;
}
.main_course_content {
  margin: 3rem 1.4rem;
  margin: 3rem 3rem;
}
.main_course_content h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.main_course_description {
  font-style: italic;

  font-weight: 300;
}

.main_course_Instructor {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  background-color: #008000;

  margin: 3rem 0rem;
  border: 1px solid black;
}

.main_course_Instructor p,
.main_course_Instructor span {
  color: white;
}
.syllabus_preReq {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.centerSyllabusIcon {
  text-align: center;
}

.syllabusContent h2 {
  text-align: center;
}

.syllabusContent li {
  padding: 0.3rem 0;
  list-style-type: square;
}
