.CompleteSyllabusListItem {
  width: 75%;
  display: flex;
  flex-flow: column;
  border: 1px solid #f7f7f7;
  align-items: center;
  box-shadow: 5px 6px 7px #f9f9f9;
  padding: 1rem 2rem;
  margin: 1rem;
}

.syllabuStatusbutton {
  width: fit-content;
  background-color: #def6de;
  border: none;
  padding: 0.4rem 0.6rem;
  border: 2px solid rgb(0, 81, 0);
  cursor: pointer;
}
.syllabuStatusbutton:hover,
.syllabuStatusbutton:hover {
  background-color: #cafbca;
}
